.icon_group {
  display: flex;
  gap: 8px;
}

.icon_circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_circle img {
  width: 14px;
  height: 14px;
}
