.button {
  width: 114px;
  height: 44px;
  border-radius: 4px;
  background-color: #2ecc71;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #27ae60;
}
