.card {
  width: 100%;
  max-width: 360px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 470px;
}

.card_image_wrapper {
  position: relative;
}

.card_info_icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card_info_icon img {
  width: 16px;
  height: 16px;
}

.card_image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 216px;
  object-fit: cover;
}

.card_content {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title_icons_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
