* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 206, 206);
  font-family: Arial, sans-serif;
}

@media (max-width: 1024px) {
  .food_list {
    flex-direction: column;
    align-items: center;
  }

    .food_list .card {
    width: 90%;
    max-width: none;
  }

  .card_image {
    height: auto;
    object-fit: cover;
  }

}
