* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 206, 206);
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .food_list {
    flex-direction: column;
    align-items: center;
  }
}
